body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    text-align: center;
}

.book-library {
    background-color: #ffffff;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.book {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 250px;
    text-align: center;
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    font-size: 18px;
    margin: 10px 0
